@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto';
    font-size: 16px;
}

body div {
    font-family: 'Roboto';
    font-size: 4rem;
}
body div:nth-of-type(2) {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
}

body div:nth-of-type(3) {
    font-weight: 700;
}
